{
  "extends": ["eslint:recommended", "airbnb-base", "prettier"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["foo_", "_bar", "_id"] }]
  }
}
